node_modules
.env
.vercel
.output
.nitro
.build
.vinxi
playwright-report
stats.html
.fixtures
*.code-workspace
app.config.timestamp_*

dist

docs/.vitepress/dist
docs/.vitepress/cache

tmp

.DS_Store
